[Unit]
Description=Standalone I2P BitTorrent Client
After=network.target

[Service]
User=xd
Group=xd
WorkingDirectory=/var/lib/xd
ExecStart=/usr/bin/XD /var/lib/xd/xd.conf
Restart=on-failure

[Install]
WantedBy=default.target
